[Unit]
Description="{{ systemdtimer_servicename }}"
OnFailure=error-notify@%i.service

[Service]
Type=oneshot
ExecStart={{ systemdtimer_command }}
{% if systemdtimer_user is defined %}
User={{ systemdtimer_user }}
{% endif %}
{% if systemdtimer_environmentfile is defined %}
EnvironmentFile={{ systemdtimer_environmentfile }}
{% endif %}