server {
    if ($host = {{ nginx_server_name }}.samacohen.com) {
        return 301 https://$host$request_uri;
    }


    server_name {{ nginx_server_name }}.samacohen.com;
    listen 80;
    return 404;
}

server {
    server_name www.{{ nginx_server_name }}.samacohen.com;
    return 301 $scheme://{{ nginx_server_name}}.samacohen.com$request_uri;
}
