services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v2.8.0
    container_name: mealie
    deploy:
      resources:
        limits:
          memory: 1000M
    ports:
      - "8283:9000"
    volumes:
      - /blkstg/mealie-data:/app/data/
    environment:
      - ALLOW_SIGNUP=true
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      - BASE_URL=https://mealie.samacohen.com
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_AUTH_STRATEGY=TLS
      - SMTP_FROM_EMAIL={{ email_user }}
      - SMTP_FROM_NAME={{ email_user }}
      - SMTP_USER={{ email_user }}
      - SMTP_PASSWORD={{ email_password }}
      - OPENAI_API_KEY={{ openai_mealie_key }}
      - OPENAI_MODEL=gpt-3.5-turbo
    restart: unless-stopped
